{% extends 'base.html.twig' %}

{% block body %}
        <div class="jumbotron text-xl-center">
            <h1 class="display-4">Hello, world!</h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </div>
        <div class="container">
             <div class="row flex">
                {% for property in properties %}
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">
                                            <a href="{{path('property.show', {id:property.id, title:property.title})}}">{{property.title}}</a>
                                    </h5>
                                    <p class="card-text">{{property.city}} ({{property.postalCode}})</p>
                                    <div class="text-primary" style="font-weight: bold; font-size:2rem;">
                                        {{property.getFormatPrice}} Fdj
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
             </div>
        </div>
{% endblock %}
